/*-------------*\
*
*  BASE STYLES
*
\*-------------*/

* {
    box-sizing: border-box;
}





body {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5vh;
    color: #73585f;
    overflow-x: hidden;
}





/*------------*\
*
*    LAYOUT
*
\*------------*/

/* ==== 1. MAIN STYLES ==== */

main {
    width: 100%;
    height: auto;
    margin-bottom: 10vh;
}




.box {
    width: 100%;
    height: auto;
    padding: .5rem;
    margin-bottom: 5vh;
}




.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}





@media(min-width: 1200px) {
    .box {
        width: 80%;
        height: 90vh;
        margin: 0 auto;
        margin-bottom: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .text {
        width: 45%;
        height: 100%;
        justify-content: center;
    }

    .box1, .box3, .box5 {
        flex-direction: row-reverse;
    }
}






/*-----------*\
*
*   IMAGES
*
\*-----------*/

.box img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}




@media(min-width: 1200px) {
    .box img {
        width: 45%;
        height: 100%;
    }
}






/*--------------*\
*
*   TYPOGRAPHY
*
\*--------------*/

h1 {
    font-family: 'Alex Brush', cursive;
    font-size: 6.5vh;
    line-height: 2;
    letter-spacing: .1rem;
    color: #ffffff ;
    text-align: center;
}




h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 5vh;
    line-height: 1.2;
    text-align: center;
    letter-spacing: .05rem;
    color: #F2D5DD;
    margin-bottom: 1rem;
    align-self: center;
}





p {
    line-height: 1.3;
    margin-bottom: 5vh;
}






.box ul {
    padding-left: 1.5rem;
    list-style-type: disc;
    margin-bottom: 5vh;
}




@media(min-width: 1024px) {
    .box ul {
        padding-left: 3rem;
    }
}




.box ul li {
    padding-top: .5rem;
    padding-bottom: .5rem;
}




@media(min-width: 1200px) {
    h1 {
        font-size: 10vh;
    }
    
    h2 {
        font-size: 7.5vh;
        margin-bottom: 2rem;
    }

    p {
        line-height: 1.5;
    }

    .box ul {
        padding-left: 1.5rem;
    }
}





/*--------------*\
*
*   COMPONENTS
*
\*--------------*/

.box a {
    display: inline-block;
    width: auto;
    height: auto;
    padding: .8rem 1.5rem;
    background-color:#F2D5DD;
    border: 3px solid #ffffff;
    border-radius: 40px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 3vh;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .05rem;
    line-height: 1.1;
    color: #ffffff;
    margin-bottom: 5vh;
    vertical-align: middle;
    align-self: center;
}



.box a:hover {
    background-color: #ffffff;
    color: #F2D5DD;
    border: 3px solid #F2D5DD;
    transition: .3s ease-in;
}




@media(min-width: 1200px) {
    .box a {
        font-size: 3.5vh;
    }
}